body {
    background-color: royalblue;
}

.TOPBAR {
    color: white;
    background-color: rgb(56, 41, 185);
    text-align: center;
    width: 100%;
    height: 2.5rem;
    position: fixed;
    top: -0.4rem;
    right: 0rem;
    font-size: 1rem;
    font-style: oblique;
}

.TOPBAR h1 {    
    position: relative;
    top: -1rem;
}

.TOPBAR article {
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    top: -2rem;
}

.FrontPage {
    background-color: rgb(80, 117, 228);
    position: relative;
    top: 5rem;
    width: 100%;
    height: 12rem;
    color: white;
}

.FrontPage h2 {
    font-size: 1.2rem;
    position: relative;
}

.Game1 {
    position: relative;
    text-align: center;
    width: fit-content;
}

.Game1 h3 {
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: -1.5rem;
}

.Game1:hover {
    cursor: pointer;
}

.Game1:hover img {
    width: 8rem;
    border-radius: .2rem;
}

.Game2 {
    text-align: center;
    position: relative;
    left: 8rem;
    top: -11.85rem;
    width: fit-content;
}

.Game2:hover {
    cursor: pointer;
}

.Game2:hover img {
    width: 8rem;
    border-radius: .2rem;
}

.Game2 h3 {
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: -1.5rem;
}


.Game3 {
    text-align: center;
    position: relative;
    left: 18rem;
    top: -23.64rem;
    width: fit-content;
}

.Game3:hover {
    cursor: pointer;
}

.Game3:hover img {
    width: 8rem;
    border-radius: .2rem;
}

.Game3 h3 {
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: -1.5rem;
}